<div>
  <h2><%= title(@number) %></h2>
    <ol type="A">
      <li><%= first_choice(@number) %></li>
      <li><%= second_choice(@number) %></li>
    </ol>
</div>

<div>
<form action="/recharge/<%= @number %>" method="post">
  <label for="recharge">Enter A or B:</label>
  <input name="recharge" placeholder="" type="text" value="<%= params[:recharge]%>">
  <button type="submit">Submit</button>
</form>
</div>

<div><%= session[:recharge] %></div>